@using Hotel.Filters;
@using System.Security.Claims;
@{
    var userClaims = User.Identity as ClaimsIdentity;
    var userId = userClaims?.FindFirst("id")?.Value;
    var userName = userClaims?.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var userRole = userClaims?.FindFirst(ClaimTypes.Role)?.Value;
    var employeeId = userClaims?.FindFirst("empId")?.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel</title>
    <!--link lịch -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--css link my order-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @* link font end *@
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/ForntEnd/css/css-sano/bootstrap.min.css">
    <link rel="stylesheet" href="~/ForntEnd/css/css-sano/elegant-icons.css">
    <link rel="stylesheet" href="~/ForntEnd/css/css-sano/flaticon.css">
    <link rel="stylesheet" href="~/ForntEnd/css/css-sano/font-awesome.min.css">
    <link rel="stylesheet" href="~/ForntEnd/css/css-sano/jquery-ui.min.css">
    <link rel="stylesheet" href="~/ForntEnd/css/css-sano/magnific-popup.css">
    <link rel="stylesheet" href="~/ForntEnd/css/css-sano/nice-select.css">
    <link rel="stylesheet" href="~/ForntEnd/css/css-sano/owl.carousel.min.css">
    <link rel="stylesheet" href="~/ForntEnd/css/css-sano/slicknav.min.css">
    <link rel="stylesheet" href="~/ForntEnd/css/css-sano/style.css">
    <link href="~/Forntend/css/css/my-css/chatbox.css" rel="stylesheet" />
    @* link sano hotel start *@

    <!-- flatpickr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">



    @* link sano hotel end *@

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>

    @*My css*@
    <link href="~/forntend/css/css/my-css/chatbox.css" rel="stylesheet" />



    <link rel="stylesheet" href="~/ForntEnd/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/ForntEnd/css/animate.css">

    <link rel="stylesheet" href="~/ForntEnd/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/ForntEnd/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/ForntEnd/css/magnific-popup.css">

    <link rel="stylesheet" href="~/ForntEnd/css/aos.css">
    <link rel="stylesheet" href="~/ForntEnd/css/call.css">

    <link rel="stylesheet" href="~/ForntEnd/css/ionicons.min.css">

    <link rel="stylesheet" href="~/ForntEnd/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/ForntEnd/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/ForntEnd/css/flaticon.css">
    <link rel="stylesheet" href="~/ForntEnd/css/icomoon.css">


    <link rel="stylesheet" href="~/ForntEnd/css/style.css">
    @* <link rel="stylesheet" href="cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />




    @* link font end *@
</head>
<body>
    @Html.Partial("Header")
    <input type="hidden" value="@userRole" id="userRole" />
    <div style="background-color:#f2f2f2">
        <main role="main" class="" id="check-admin-margin-layout" style="background-color:white">
            @RenderBody()
        </main>

        <a role="button" style="position:fixed;bottom:50px;right:100px; z-index:1000;">
            <div class="btn btn-primary nav-link p-2" id="chatButton">
                <span class="text-dark">Support chat</span>
            </div>
        </a>
        @if (userRole == "user")
        {
            <!-- Chat Box HTML -->
            <div id="chat-section">
                <div id="chat-header">
                    <h6 class="header-text">Employee Hotel</h6>
                    <button id="closeChat" class="btn btn-danger btn-sm">×</button>
                </div>
                <div id="chat-box">
                    <div id="messages"></div>
                </div>
                <div id="message-input">
                    <input type="text" id="messageInput" placeholder="Enter message" />
                    <button id="Send" type="button"><i class="fa-solid fa-paper-plane"></i></button>
                </div>
            </div>
        }
        else
        {
            <div id="wrapper-chat-emp">
                <!-- Chat Box HTML -->

                <div id="employee-chat-container">
                    <div id="plist" class="people-list">
                        <div id="employee-user-list">
                            <h6>List user</h6>
                            <div id="user-list">
                                <!-- Danh sách người dùng sẽ được thêm vào đây -->
                            </div>
                        </div>
                    </div>

                    <div id="employee-chat-section">
                        <div id="employee-chat-header">
                            <h6 id="employeeChatWith"></h6>
                            <button id="closeChatEmp" class="btn btn-danger btn-sm" style="color: b">x</button>
                        </div>
                        <div id="employee-chat-box">
                            <div id="employee-messages"></div>
                        </div>
                        <div id="employee-message-input">
                            <input type="text" id="employeeMessageInput" placeholder="Enter message" />
                            <button id="EmpSend" type="button"><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        }



    </div>
    @Html.Partial("Footer")

    <!--js lịch -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!--css link my order-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @*script sano hotel start*@
    <script src="~/ForntEnd/fonts/js-sano/bootstrap.min.js"></script>
    <script src="~/ForntEnd/fonts/js-sano/jquery.magnific-popup.min.js"></script>
    <script src="~/ForntEnd/fonts/js-sano/jquery.nice-select.min.js"></script>
    <script src="~/ForntEnd/fonts/js-sano/jquery.slicknav.js"></script>
    <script src="~/ForntEnd/fonts/js-sano/jquery-3.3.1.min.js"></script>
    <script src="~/ForntEnd/fonts/js-sano/jquery-ui.min.js"></script>
    <script src="~/ForntEnd/fonts/js-sano/main.js"></script>
    <script src="~/ForntEnd/fonts/js-sano/owl.carousel.min.js"></script>
    @*script sano hotel end*@

    @*Chat support js*@
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/ForntEnd/js/chat.js"></script>
    <script src="~/ForntEnd/js/notification.js"></script>
    <!-- flatpickr JS -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    @*  FontENd JS *@
    <script src="~/ForntEnd/js/jquery.min.js"></script>
    <script src="~/ForntEnd/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/ForntEnd/js/popper.min.js"></script>
    <script src="~/ForntEnd/js/bootstrap.min.js"></script>
    <script src="~/ForntEnd/js/jquery.easing.1.3.js"></script>
    <script src="~/ForntEnd/js/jquery.waypoints.min.js"></script>
    <script src="~/ForntEnd/js/jquery.stellar.min.js"></script>
    <script src="~/ForntEnd/js/owl.carousel.min.js"></script>
    <script src="~/ForntEnd/js/jquery.magnific-popup.min.js"></script>
    <script src="~/ForntEnd/js/aos.js"></script>
    <script src="~/ForntEnd/js/jquery.animateNumber.min.js"></script>
    <script src="~/ForntEnd/js/bootstrap-datepicker.js"></script>
    @*     <script src="~/ForntEnd/js/jquery.timepicker.min.js"></script> *@
    <script src="~/ForntEnd/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/ForntEnd/js/google-map.js"></script>
    <script src="~/ForntEnd/js/calendar.js"></script>
    <script src="~/ForntEnd/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('#room_table').DataTable();
            $('#room_type').DataTable();
            $('#table_property').DataTable();
            $('#table_unity').DataTable();
            $('#banner_table').DataTable();
            flatpickr("#date-in", {
                dateFormat: "d-m-Y",
                minDate: "today"
            });
            flatpickr("#date-out", {
                dateFormat: "d-m-Y",
                minDate: "today"
            });

        });
    </script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    @*  FontENd JS *@
    @if (User.Identity.IsAuthenticated)
    {

        <script src="~/ForntEnd/js/audio-order/audio-order.js"></script>
    }

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/ForntEnd/js/modal_delete.js"></script>
</body>
</html>
