﻿@using Hotel.Models.Shared;
@model Hotel.Dtos.HomeDto



@* intro *@
<link rel="stylesheet" href="~/ForntEnd/css/mia1.css" type='text/css' media='all' rel='stylesheet' id='flatsome-main-css'>
<link rel="stylesheet" href="~/ForntEnd/css/mia2.css" type='text/css' media='all' rel='stylesheet' id='flatsome-main-css'>
<link rel="stylesheet" href="~/ForntEnd/css/mia.css" type='text/css' media='all' rel='stylesheet' id='flatsome-main-css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js" integrity="sha512-KvlmAB+wx0zLQRe7hCFzBwyaU/AvbwPoJgxfBZ6g+ZF9MBMY4YAo3+BycXH2Rc+fDPbZ0fJsi3AfOTmQYZEn9A==" crossorigin="anonymous"></script>


@* banner *@
@if (Model.Banners != null)
{



   <section class="home-slider owl-carousel banner-bg-home" style="height:fit-content;" >

        @foreach (var b in Model.Banners)
        {
            var img = $"~/images/{b.Image}";
            <div class="slider-item " style="background-image: url('@Url.Content(img)'); background-position:center; background-position:center;background-size:100%;height:81vh">
                <div class="overlay"></div>
                <div class="container" style="height:100%">
                    <div class="row no-gutters slider-text align-items-start justify-content-center" style="height:100%">
                        <div class="col-lg-6" style="height:100%">
                            <div class="text mb-5 pb-3"style="margin-top:200px;">
                                <h1 class="mb-3">@Html.DisplayFor(i=>b.Title)</h1>
                                <h2 >@Html.DisplayFor(i=>b.Content)</h2>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        }
    </section>
    <div class="col-xl-4 col-lg-4 offset-xl-2 offset-lg-1"
         style="position: absolute; top: 9%; right: 10%; margin-top:165px;">
        <div class="booking-form">
            <h3>Booking Your Hotel</h3>
            <form action="#">
                <div class="check-date">
                    <label for="date-in">Check In:</label>
                    <input type="text" class="date-input" id="date-in">
                    <i class="fa-regular fa-calendar" style="padding-bottom:16px;"></i>
                </div>
                <div class="check-date">
                    <label for="date-out">Check Out:</label>
                    <input type="text" class="date-input" id="date-out">
                    <i class="fa-regular fa-calendar" style="padding-bottom:16px;"></i>
                </div>
                <div class="select-option">
                    <label for="guest">Guests:</label>
                    <select id="guest">
                        <option value="">2 Adults</option>
                        <option value="">3 Adults</option>
                    </select>
                </div>

                <button type="submit">Check Availability</button>
            </form>
        </div>
    </div>
}

@if (Model.hotelDatas != null)
{
    var item = Model.hotelDatas
        .Where(d => d.Type == "Lời chào")
        .OrderByDescending(d => d.CreatedDate)
        .FirstOrDefault();

    if (item != null)
    {
        var img = $"~/images/{item.Url}";
        <!-- About Us Section Begin -->
        <section class="aboutus-section spad">
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-text">
                            <div class="section-title">
                                <span style="margin: 0 auto">@Html.Raw(item.Type)</span>
                                <h2>@Html.Raw(item.Header)</h2>
                            </div>
                            <p class="f-para">
                                @Html.Raw(item.Content)
                            </p>
                            <a href="#" class="primary-btn about-btn">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-pic">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="img-wrapper" style=" width: 200%;">
                                        <img src="@Url.Content(img)" alt="" class="img-fluid" style=" width: 100%; height: 450px;object-fit:cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us Section End -->
    }
}




<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Our Rooms</h2>

            </div>
        </div>
        <div class="row">
            @if (Model.Rooms != null)
            {
                foreach (var r in Model.Rooms)
                {
                    var rimg = $"~/images/{r.Images.ToArray()[0].Url}";
                    <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                        <div class="room">
                            <a asp-action="Index" asp-controller="SingleRoom" asp-route-id="@r.Id">

                                <div class="img d-flex justify-content-center align-items-center" style="background-image: url('@Url.Content(rimg)')">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-search2"></span>
                                    </div>
                                </div>

                            </a>

                            <div class="text p-3 ">
                                <h3 class="mb-3 text-center" style="margin-left:auto; text-transform:uppercase">
                                    <a asp-controller="SingleRoom" style="color:#8d703b;" asp-route-id="@r.Id">@r.RoomType.Type</a>
                                </h3>

                                <div class="d-flex justify-content-start align-items-center" style="width:100%; flex-flow: wrap">
                                    @if (r.Details != null)
                                    {
                                        @foreach (var de in r.Details)
                                        {
                                            <div style="min-width:40%; width:fit-content ;margin-left:auto" class="mb-2 d-flex justify-content-start align-items-center">
                                                <i class="@CommonMethod.CheckIcon(de.Name)" style="font-size:20px"></i>
                                                <span class=" ml-2" style="font-size:16px">@de.Detail</span>
                                            </div>
                                        }
                                    }
                                </div>

                                @if (r.IsFulled == true)
                                {
                                    <hr style="margin-bottom:0">
                                    <p class=" bg bg-danger text-dark" style="height:100%;padding:16px 0;font-weight:bold">Tạm thời hết phòng</p>
                                }
                                else
                                {
                                    <hr>
                                    <p class="pt-1"><a asp-action="Index" asp-controller="SingleRoom" asp-route-id="@r.Id" class="btn-custom">Xem Chi Tiết Phòng<span class="icon-long-arrow-right"></span></a></p>
                                }


                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>



</section>
@if (Model.Rooms != null)
{
    <!-- Home Room Section Begin -->
    <section class="hp-room-section">
        <div class="row justify-content-center mb-5 pb-3 mt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Our Rooms</h2>

            </div>
        </div>
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
                    @foreach (var r in Model.Rooms)
                    {
                        var rimg = $"~/images/{r.Images.ToArray()[0].Url}";
                        <div class="col-lg-4 col-md-6 mb-4" >
                            <div class="hp-room-item position-relative"
                                 style="background-image: url('@Url.Content(rimg)'); height: 450px; width: 100%; background-size: cover; background-position: center;border-radius:8px;">
                                <div class="overlay" ></div>
                                <div class="hr-text position-absolute text-center" style="margin-bottom: -80px;">
                                    <h3>Double Room</h3>
                                    <h2>199$<span>/Pernight</span></h2>
                                    <table class="text-white">
                                        <tbody>
                                            <tr>
                                                <td class="r-o">Size:</td>
                                                <td>30 ft</td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Capacity:</td>
                                                <td>Max person 5</td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Bed:</td>
                                                <td>King Beds</td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Services:</td>
                                                <td>Wifi, Television, Bathroom,...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a asp-action="Index" asp-controller="SingleRoom" asp-route-id="@r.Id" style="background-color:white; padding: 10px;border-radius:5px;font-weight:700">More Details</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <style>
        .hp-room-item {
            position: relative;
            overflow: hidden;
        }

            .hp-room-item .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                transition: background 0.3s;
            }

            .hp-room-item:hover .overlay {
                background: rgba(0, 0, 0, 0.6);
            }

            .hp-room-item .hr-text {
                color: #fff;
                z-index: 1;
            }

            .hp-room-item .primary-btn {
                background: #fff;
                color: #000;
            }
    </style>

}
<!-- Home Room Section End -->
<!-- Custom CSS -->

<!-- Services Section End -->
@if (Model.hotelDatas.Where(d => d.Type == "Tiện nghi") != null)
{
    var list = Model.hotelDatas.Where(d => d.Type == "Tiện nghi").ToList();
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span style="margin: 0 auto">What We Do</span>
                        <h2>Discover Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
               
                @for (var i = 0; i < list.Count(); i++)
                {
                var img = $"~/images/{list[i].Url}";
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <img src="@Url.Content(img)" alt="" style="width: 50px; height: 50px; object-fit:cover">
                        <h4>@Html.Raw(list[i].Header)</h4>
                        <p>
                            @Html.Raw(list[i].Content)
                        </p>
                    </div>
                </div>
                }

            </div>
        </div>
    </section>
}

<h3 class="mb-2">Đánh giá :</h3>
<div class="col-md-12 col-lg-12 room-single ftco-animate mb-5" style="border-top:0.2rem solid #ccc;padding:1rem">
    @*  start *@

    @if (Model.comments != null)
    {
        foreach (var c in Model.comments)

        {
            var img = $"~/images/{c.avatar}";
            <div class="mb-1">
                <div>
                    <div class="d-flex align-items-center ">
                        <img class="mr-3" style="width:50px;height:50px ; border-radius:50%" src="@Url.Content(img)" />
                        <div>
                            <p style="margin-bottom:0 ;font-weight:bold">@c.Name </p>
                            <p style="margin-bottom:0 ;font-weight:bold">
                                @for (var i = 0; i < c.start; i++)
                                {
                                    <i class="fa-solid fa-star" style="color:yellow"></i>
                                }
                                @for (var i = 0; i < 5 - c.start; i++)
                                {
                                    <i class="fa-solid fa-star"></i>
                                }


                            </p>
                        </div>
                    </div>
                    <p>
                        @c.Content
                    </p>
                </div>
            </div>
        }
    }



</div>




<script type='text/javascript' id='flatsome-js-js-extra'>

    /* <![CDATA[ */
    var flatsomeVars = { "ajaxurl": "https:\/\/miahotelvungtau.com\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "70", "lightbox": { "close_markup": "<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>", "close_btn_inside": false }, "user": { "can_edit_pages": false }, "i18n": { "mainMenu": "Main Menu" }, "options": { "cookie_notice_version": "1" } };
    /* ]]> */
</script>
<script type='text/javascript' src='https://miahotelvungtau.com/wp-content/themes/flatsome/assets/js/flatsome.js?ver=3.13.0' id='flatsome-js-js'></script>