﻿@using Hotel.Models.Shared;
@model Hotel.Dtos.HomeDto



@* intro *@
<link rel="stylesheet" href="~/ForntEnd/css/mia1.css" type='text/css' media='all' rel='stylesheet' id='flatsome-main-css'>
<link rel="stylesheet" href="~/ForntEnd/css/mia2.css" type='text/css' media='all' rel='stylesheet' id='flatsome-main-css'>
<link rel="stylesheet" href="~/ForntEnd/css/mia.css" type='text/css' media='all' rel='stylesheet' id='flatsome-main-css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js" integrity="sha512-KvlmAB+wx0zLQRe7hCFzBwyaU/AvbwPoJgxfBZ6g+ZF9MBMY4YAo3+BycXH2Rc+fDPbZ0fJsi3AfOTmQYZEn9A==" crossorigin="anonymous"></script>


@* banner *@
@if (Model.Banners != null)
{



   <section class="home-slider owl-carousel banner-bg-home" style="height:fit-content;" >
       @if(Model.Banners.Count() > 0){
            @foreach (var b in Model.Banners)
            {
                var img = $"~/images/{b.Image}";
                <div class="slider-item " style="background-image: url('@Url.Content(img)'); background-position:center; background-position:center;background-size:100%;height:81vh">
                    <div class="overlay"></div>
                    <div class="container" style="height:100%">
                        <div class="row no-gutters slider-text align-items-start justify-content-center" style="height:100%">
                            <div class="col-lg-6" style="height:100%">
                                <div class="text mb-5 pb-3"style="margin-top:200px;">
                                    <h1 class="mb-3">@Html.DisplayFor(i=>b.Title)</h1>
                                    <h2 >@Html.DisplayFor(i=>b.Content)</h2>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <div class="slider-item " style="background-image: url('https://img.pikbest.com/backgrounds/20210920/booking-luxury-hotel-banner-background-eps_6126596.jpg!bw700'); background-position:center; background-position:center;background-size:100%;height:81vh">
                <div class="overlay"></div>
                <div class="container" style="height:100%">
                    <div class="row no-gutters slider-text align-items-start justify-content-center" style="height:100%">
                        <div class="col-lg-6" style="height:100%">
                            <div class="text mb-5 pb-3" style="margin-top:200px;">
                                <h1 class="mb-3">Sona Hotel</h1>
                                <h2>Employee support 24/7</h2>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </section>
    <div class="col-xl-4 col-lg-4 offset-xl-2 offset-lg-1"
         style="position: absolute; top: 9%; right: 10%; margin-top:165px;bottom: 9%;">
        <div class="booking-form">
            <h3>Booking Your Hotel</h3>
            <form action="#">
                <div class="check-date">
                    <label for="date-in">Check In:</label>
                    <input type="text" class="date-input" id="date-in">
                    <i class="fa-regular fa-calendar" style="padding-bottom:16px;"></i>
                </div>
                <div class="check-date">
                    <label for="date-out">Check Out:</label>
                    <input type="text" class="date-input" id="date-out">
                    <i class="fa-regular fa-calendar" style="padding-bottom:16px;"></i>
                </div>
                <div class="select-option">
                    <label for="guest">Guests:</label>
                    <select id="guest">
                        <option value="">2 Adults</option>
                        <option value="">3 Adults</option>
                    </select>
                </div>

                <button type="submit">Check Availability</button>
            </form>
        </div>
    </div>
}

@if (Model.hotelDatas != null)
{
    var item = Model.hotelDatas
        .Where(d => d.Type == "Lời chào")
        .OrderByDescending(d => d.CreatedDate)
        .FirstOrDefault();

    if (item != null)
    {
        var img = $"~/images/{item.Url}";
        <!-- About Us Section Begin -->
        <section class="aboutus-section spad">
            <br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-text">
                            <div class="section-title">
                                <span style="margin: 0 auto">@Html.Raw(item.Type)</span>
                                <h2>@Html.Raw(item.Header)</h2>
                            </div>
                            <p class="f-para">
                                @Html.Raw(item.Content)
                            </p>
                            <a href="#" class="primary-btn about-btn">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-pic">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="img-wrapper" style=" width: 200%;">
                                        <img src="@Url.Content(img)" alt="" class="img-fluid" style=" width: 100%; height: 450px;object-fit:cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us Section End -->
    }
}





@if (Model.Rooms != null)
{
    <!-- Home Room Section Begin -->
    <section class="hp-room-section">
        <div class="row justify-content-center mb-5 pb-3 mt-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Our Rooms</h2>

            </div>
        </div>
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
                    @foreach (var r in Model.Rooms)
                    {
                        foreach (var amenity in r.RoomAmenities)
                        {
                            Console.WriteLine($"{amenity.Amenities.Name}, Icon: {amenity.Amenities.IconClass}");
                        }
                        var rimg = $"~/images/{r.Images?.ToArray()[0].Url}";
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="hp-room-item position-relative"
                                 style="background-image: url('@Url.Content(rimg)'); height: 450px; width: 100%; background-size: cover; background-position: center; border-radius:8px;">

                                <div class="overlay"></div>
                                <div class="hr-text position-absolute text-center" style="margin-bottom: -80px;">
                                    <h3>@r.RoomName</h3>
                                    <h2>@r.Price.ToString("0")<span>vnd/Pernight</span></h2>
                                    <table class="text-white">
                                        <tbody>
                                            <tr>
                                                <td class="r-o">Specifications:</td>
                                                @if (r.roomProperties != null && r.roomProperties.Any())
                                                {
                                                    foreach (var property in r.roomProperties)
                                                    {
                                                        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block;">@Html.Raw(@property.IconClass?.Icon)  @property.Name</td>
                                                    }
                                                }
                                            </tr>
                                            <tr>
                                                <td class="r-o">Capacity:</td>
                                                <td>
                                                    <i class="fa-solid fa-person"></i>
                                                    Adults: @r.MaxAdults - Children: @r.MaxChildren
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Status:</td>
                                                <td><i class="fa-solid fa-check"></i>  @(r.Status ? "Còn phòng" : "Hết phòng")</td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Services:</td>
                                                <td>
                                                    @if (r.RoomAmenities != null && r.RoomAmenities.Any())
                                                    {
                                                        var amenitiesByTheme = r.RoomAmenities.GroupBy(ra => ra.Amenities?.AmenitiesTheme?.Name).Take(1)
                                                        .Select(g => new
                                                        {
                                                            Theme = g.Key,
                                                            Amenities = g
                                                        .Select(a => new
                                                        {
                                                            a.Amenities.Name,
                                                            IconClassId = a.Amenities.IconClassId // Chỉ lấy IconClassId
                                                        }).ToList()
                                                        }).ToList();

                                                        foreach (var theme in amenitiesByTheme)
                                                        {
                                                            foreach (var amenity in theme.Amenities)
                                                            {
                                                                var iconClass = Model.IconClasses?.FirstOrDefault(ic => ic.Id == amenity.IconClassId);
                                                                if (iconClass != null)
                                                                {
                                                                    <div style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block;">
                                                                    <span style="margin-right: 10px">@Html.Raw(@iconClass.Icon)</span> @amenity.Name
                                                                    <br />
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div>No services available</div>
                                                    }

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a asp-action="Index" asp-controller="SingleRoom" asp-route-id="@r.Id" style="background-color:white; padding: 10px; border-radius:5px; font-weight:700">More Details</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
    <style>
        .hp-room-item {
            position: relative;
            overflow: hidden;
        }

            .hp-room-item .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                transition: background 0.3s;
            }

            .hp-room-item:hover .overlay {
                background: rgba(0, 0, 0, 0.6);
            }

            .hp-room-item .hr-text {
                color: #fff;
                z-index: 1;
            }

            .hp-room-item .primary-btn {
                background: #fff;
                color: #000;
            }
    </style>

}
<!-- Home Room Section End -->
<!-- Custom CSS -->

<!-- Services Section End -->
@if (Model.hotelDatas.Where(d => d.Type == "Tiện nghi") != null)
{
    var list = Model.hotelDatas.Where(d => d.Type == "Tiện nghi").ToList();
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span style="margin: 0 auto">What We Do</span>
                        <h2>Discover Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
               
                @for (var i = 0; i < list.Count(); i++)
                {
                var img = $"~/images/{list[i].Url}";
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <img src="@Url.Content(img)" alt="" style="width: 50px; height: 50px; object-fit:cover">
                        <h4>@Html.Raw(list[i].Header)</h4>
                        <p>
                            @Html.Raw(list[i].Content)
                        </p>
                    </div>
                </div>
                }

            </div>
        </div>
    </section>
}

<h3 class="mb-2">Đánh giá :</h3>
<div class="col-md-12 col-lg-12 room-single ftco-animate mb-5" style="border-top:0.2rem solid #ccc;padding:1rem">
    @*  start *@

    @if (Model.comments != null)
    {
        foreach (var c in Model.comments)

        {
            var img = $"~/images/{c.avatar}";
            <div class="mb-1">
                <div>
                    <div class="d-flex align-items-center ">
                        <img class="mr-3" style="width:50px;height:50px ; border-radius:50%" src="@Url.Content(img)" />
                        <div>
                            <p style="margin-bottom:0 ;font-weight:bold">@c.Name </p>
                            <p style="margin-bottom:0 ;font-weight:bold">
                                @for (var i = 0; i < c.start; i++)
                                {
                                    <i class="fa-solid fa-star" style="color:yellow"></i>
                                }
                                @for (var i = 0; i < 5 - c.start; i++)
                                {
                                    <i class="fa-solid fa-star"></i>
                                }


                            </p>
                        </div>
                    </div>
                    <p>
                        @c.Content
                    </p>
                </div>
            </div>
        }
    }



</div>

