@model IEnumerable<Hotel.Dtos.OrderViewDto>
@{
    ViewData["Title"] = "Index";
}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @if (TempData.ContainsKey("success"))
    {
        <div class="alert alert-success">
            @TempData["success"]
        </div>
    }

    @if (TempData.ContainsKey("error"))
    {
        <div class="alert alert-danger">
            @TempData["error"]
        </div>
    }

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin  khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div> <span>Số điện thoại</span> :<span class="cs_de-phone"></span> </div>
                <div> <span>Tên khách hàng</span> :<span class="cs_de-name"></span> </div>
                <div> <span>Ngày Check in</span> :<span class="cs_de-day"></span> </div>
            </div>
            <div class="modal-footer">
                <button type="button" onClick=updateOrder() data-id="" class="btn btn-success btn_update-order" data-dismiss="modal">Đóng</button>
               
            </div>
        </div>
    </div>
</div>

<h1 class="mb-3 text-center">Quản thông tin đặt phòng </h1>
<div class="container" style="min-height:100vh;background-color:white;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding:1rem;padding-bottom:1rem">

   

    <table id="room_table" class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
               
               
                <th class="text-center">Loại phòng</th>
                <th class="text-center">Message</th>
                <th class="text-center">Loại Order</th>
                <th class="text-center">Ngày Order</th>
                <th class="text-center">Hành động</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    var isView = item.Isviewed==false ? "alert alert-warning" : "";
                    <tr  >
                      
                        <td class="text-center @isView">@Html.DisplayFor(a=>item.RoomType)</td>
                        <td class="text-center @isView">@Html.DisplayFor(a=>item.Message)</td>
                        <td class="text-center @isView">@Html.DisplayFor(a=>item.Type)</td>
                        <td class="text-center @isView">@Html.DisplayFor(a=>item.Date)</td>
                        <td class="text-center d-flex">
                            <a onClick="showDetail('@item.OrderId','@item.Name','@item.Phone','@item.CheckInDate')"
                               class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" style="cursor:pointer">
                                Detail
                            </a>
                            | <form asp-action="SetIsFulled" asp-controller="AdminOrder" asp-route-id="@item.OrderId" method="post">
                                <a class="btn btn-success set-isFull-room" data-order-id="@item.OrderId">Set phòng trống</a>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.set-isFull-room').on('click', function () {
            var orderId = $(this).data('order-id');
            if (confirm('Bạn muốn set phòng này trống đúng chứ?')) {
                $.ajax({
                    url: '@Url.Action("SetIsFulled", "AdminOrder")',
                    type: 'POST',
                    data: { id: orderId },
                    success: function (response) {
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                    }
                });
            }
        });
    });
</script>




