@model IEnumerable<Image>
@{
    ViewData["Title"] = "Index";
}
<h1 class="mb-3">Quản lý ảnh About</h1>
<div class="container" style="min-height:100vh;background-color:white;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding:1rem;padding-bottom:1rem">



    @if (TempData.ContainsKey("success"))
    {
        <div class="alert alert-success">
            @TempData["success"]
        </div>
    }

    @if (TempData.ContainsKey("error"))
    {
        <div class="alert alert-danger">
            @TempData["error"]
        </div>
    }

    <a asp-action="Create" asp-controller="AdminGalery">Thêm ảnh mới</a>

    <table id="banner_table" class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>ảnh</th>
                <th>Room</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var img = $"~/images/{@item.Url}";
                <tr>
                    <td>@Html.DisplayFor(a=>item.Id)</td>
                    <td scope="col">
                        <img style="width:70px;height:70px" src="@Url.Content(img)" />
                    </td>
                    <td>@Html.DisplayFor(a=>item.RoomType)</td>

                    <td>

                        <a asp-action="Delete" role="button" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



