﻿@using Hotel.Models.Shared;
@model Hotel.Dtos.RoomViewDto


<div class="hero-wrap" style="background-image: url('@Url.Content("~/images/HP.png")'); margin-top:-25px" >
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
			<div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
				<div class="text">

					<h1 class="mb-4 bread">Danh sách phòng</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="ftco-section bg-light" style="padding-top:50px">
	<div class="p-3">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-12" style="display:flex;flex-direction:column;justify-content:center;align-items:center">

					@foreach (var r in Model.ListRoom)
					{
						var img = $"~/images/{r.Images.ToArray()[0].Url}";


                        <div class="ftco-animate col-lg-12" >
                            <div class="room col-lg-12" style="background-color: white; border: 0.2rem solid #ccc; padding: 0;">

                                <div class="row">
                                    <div class="col-lg-8 " >
                                        <a asp-controller="SingleRoom" asp-action="Index" asp-route-id="@r.Id" class="img d-flex justify-content-center align-items-center" style="height: 100%;">
                                            <img src="@Url.Content(img)" alt="@img" style="width: 100%; height:50vh; object-fit: cover" />
                                        </a>
                                    </div>

                                    <div class="col-lg-4 text p-3 text-center ">
                                        @if (r.IsFulled == true)
                                        {
                                            <div style="width: 90%; height: 100%; position: absolute; z-index: 100" class="bg bg-white flex-column d-flex justify-content-center align-items-center">
                                                <h2 class="mb-3"><a asp-controller="SingleRoom" asp-action="Index" asp-route-id="@r.Id" style="font-size: 35px; font-weight: bold">@r.RoomType.Type</a></h2>
                                                <p class="h1 text-danger">Hết Phòng</p>
                                            </div>
                                        }

                                        <h2 class="mb-3"><a asp-controller="SingleRoom" asp-action="Index" asp-route-id="@r.Id" style="font-size: 35px; font-weight: bold">@r.RoomType.Type</a></h2>

                                        @* Price *@

                                        @if (Model.ListProperty != null)
                                        {
                                            foreach (var pro in Model.ListProperty)
                                            {
                                                if (pro.Name.Contains("giá"))
                                                {
                                                    foreach (var de in pro.Details)
                                                        if (@de.RoomId == r.Id)
                                                        {
                                                            <p style="font-size:18px"><span class=" mr-2" style="font-size:18px">@pro.Name: </span><span class="per price" style="font-size:20px"> @de.Detail</span></p>
                                                        }
                                                }
                                            }

                                            <div class="d-flex align-items-start flex-column">
                                                @foreach (var pro in Model.ListProperty)
                                                {
                                                    if (!pro.Name.Contains("giá"))
                                                    {
                                                        foreach (var de in pro.Details)
                                                        {
                                                            if (@de.RoomId == r.Id)
                                                            {
                                                                <div class="d-flex align-items-center">
                                                                    <div class="ml-3" style="width: 40px;">
                                                                        <i class="@CommonMethod.CheckIcon(pro.Name) mr-5 " style="font-size: 20px"></i>
                                                                    </div>
                                                                    <span class="ml-2">@de.Detail</span>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>
                                            <hr>
                                            <p class="pt-1"><a asp-action="Index" asp-controller="SingleRoom" asp-route-id="@r.Id" class="btn-custom">Book Now <span class="icon-long-arrow-right"></span></a></p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>



					}
				</div>

			</div>
		</div>
	</div>
</section>